<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NiceConnString" connectionString="Data Source=E:\Projects\Business\Yangec.Aad\database\yangecacd.db" providerName="SYSTEM.DATA.SQLITE"/>
  </connectionStrings>
  <appSettings>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
