<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnString" connectionString="server =127.0.0.1; user id =admin; password =Tingche.easy; database=tingcheclouddb;Charset=utf8;" providerName="MySQL" />
  </connectionStrings>
  <appSettings>
    <add key="DataFactory.Provider.Assembly" value="Grit.Net.DataAccess.MySql"/>
    <add key="DataFactory.Provider.TypeName" value="Grit.Net.DataAccess.MySql.MySqlDataProvider"/>
    <add key="DataFactory.GeneralDAL.TypeName" value="Grit.Net.DataAccess.MySql.DAL.MySqlGeneralDAL"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>